h2{
    background-color:lightskyblue;
    color: red;
    text-align: center;
    width: 100%;
    height: 5vh;
    padding: 5px;
}
.user{    
    text-align:right;
    padding: 10px;
   align-content: space-between;
    color: darkblue;
    width:60%
}
.particulars1{
    width: 40%;
}
.s1{
    padding: 20px;
    color: darkblue;
    display: flex;
}
.personal{
    text-align:right;
    width: 50%;
}
.particulars2{
    text-align:right;
    width: 50%;
}
.s2{
    padding: 20px;
    color: darkblue;
    display: flex;
}
.account{
    text-align:right;
    width: 50%;
}
.p3{
    text-align: right;
    width: 50%;
}